# --- CORE HARDWARE DISPLAY SETTINGS ---
UI_HEADER=InkNode1
HIDE_IP=False

# --- OPEN-METEO WEATHER CONFIGURATION ---
LOCATION_LAT=22.5726
LOCATION_LON=88.3639

# --- MQTT NETWORK METRIC BROADCAST ---
MQTT_ENABLED=False
MQTT_BROKER=192.168.1.100
MQTT_PORT=1883
MQTT_USER=
MQTT_PASS=
MQTT_TOPIC_TEMP=sensor/rpi/temperature
MQTT_TOPIC_HUM=sensor/rpi/humidity
# --- OPENWEATHER API ---
OWM_API_KEY=
# --- SKIPS THE BOOT MANAGER INITIAL SETUP (QR SETUP SCREEN) ---
INIT_SETUP=enabled